{% load staticfiles %}
{% load url from future %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block page_title %}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  {% block viewport %}<meta name="viewport" content="width=device-width">{% endblock %}

  {# TODO: <link rel="shortcut icon" href="/media/images/favicon.ico" /> #}
  {# TODO: <link rel="apple-touch-icon" href="/media/images/apple-touch-icon.png" /> #}


  {% block style_base %}
  <link href="{% static "less/bootstrap.less" %}" rel="stylesheet/less" type="text/css">
  <link href="{% static "less/responsive.less" %}" rel="stylesheet/less" type="text/css">
  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  </style>
  {% block extra_style %}{% endblock %}
  {% endblock %}

  {% block extra_head_base %}
  {% block extra_head %}{% endblock %}
  {% endblock %}
</head>
{% block body_base %}
<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  {% block topbar_base %}
  <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
      <div class="navbar-inner">
          <div class="container">
              {% block topbar %}
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  {% block site_brand %}<a class="brand" href="{% url "home" %}">Project Name</a>{% endblock %}
                  <div class="nav-collapse">
                      {% block nav %}
                              <ul class="nav">
                                  <li><a href="#tab_one">One</a></li>
                                  <li><a href="#tab_two">Two</a></li>
                              </ul>
                      {% endblock %}
                      {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                  </div>
              {% endblock %}
          </div>
      </div>
  </div>
  {% endblock %}

  {% block container_base %}
  <div class="container">
    {% include "_messages.html" %}
    {% block body %}{% block content %}{% endblock %}{% endblock %}
    {% block footer_base %}
      <hr>
      <footer>
        {% block footer %}<p>&copy; {% now "Y" %}</p>{% endblock %}
      </footer>
    {% endblock %}
  </div>
  {% endblock %}

  <!-- JavaScript at the bottom for fast page loading -->
  {% block script_base %}
  {% block jquery_src %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "js/jquery-1.7.2.min.js" %}><\/script>')</script>
  {% endblock %}
  {# TODO: Less only in debug, otherwise use compressed #}
  <script src="{% static "js/less-1.3.0.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  {% block extra_script %}{% endblock %}
  {% endblock %}

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  {% block google_analytics_base %}
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% block google_analytics_extra %}{% endblock %}
  {% endblock %}

  {% block extra_body_base %}
  {% block extra_body %}{% endblock %}
  {% endblock %}

</body>
{% endblock %}
</html>
